body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}
textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}
#output {
  background: #222;
  padding: 20px;
  margin-top: 20px;
  white-space: pre-wrap;
}
